<article class="pa4 black-80">
  <form ng-submit="register.register()" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
      <br>
      <div class="measure">
        <label for="username" class="db fw4 lh-copy f6">Username</label>
        <input id="username" ng-model="register.user.username" class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white" type="text" aria-describedby="name-desc">
      </div>
      <div class="measure">
        <label for="firstname" class="db fw4 lh-copy f6">First name</label>
        <input id="firstname" ng-model="register.user.first_name" class="pa2 input-reset ba bg-transparent w-100 measure hover-bg-black hover-white" type="text" aria-describedby="name-desc">
      </div>
      <div class="measure">
        <label for="lastname" class="db fw4 lh-copy f6">Last name</label>
        <input id="lastname"  ng-model="register.user.last_name" class="pa2 input-reset ba bg-transparent w-100 measure hover-bg-black hover-white" type="text" aria-describedby="name-desc">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
        <input ng-model="register.user.email" class="pa2 input-reset ba bg-transparent w-100 measure hover-bg-black hover-white" type="email" name="email-address"  id="email-address">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Password</label>
        <input  ng-model="register.user.password" class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white" type="password" name="password"  id="password">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="passwordConfirmation">Password Confirmation</label>
        <input  ng-model="register.user.password_confirmation" class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white" type="password" name="password_confirmation"  id="password">
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up"></div>
  </form>
</article>
