<main class="helvetica cf w-100">
  <div class="mw9 center ph3-ns">
    <div   class="cf ph2-ns">
      <ul ng-repeat= "question in vm.questions"class="list fl w-100 w-25-ns pa2">
        <li class="outline bg-white pv4">
          <question data="question"></question>
        </li>
      </ul>
    </div>

  </div>

</main>


<!-- <div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-25-ns pa2">
      <div class="outline bg-white pv4"></div>
    </div>
    <div class="fl w-100 w-25-ns pa2">
      <div class="outline bg-white pv4"></div>
    </div>
    <div class="fl w-100 w-25-ns pa2">
      <div class="outline bg-white pv4"></div>
    </div>
    <div class="fl w-100 w-25-ns pa2">
      <div class="outline bg-white pv4"></div>
    </div>
  </div>
</div> -->
