<main class="pa4 black-80">
  <form ng-submit="commentsNew.commentsCreate()" class="measure center">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">What's your comment?</legend>
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="comment">Comment...</label>
        <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" ng-model="commentsNew.newComment.title" type="text" name="comment"  id="email-address">
      </div>
    </fieldset>
    <div class="">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Give us your view!">
    </div>
  </form>
</main>
